#window{
    -fx-padding: 10px;
}

#canvasVbox{

}

#flowPane{
    -fx-padding: 5px;

    /*delete below*/
    -fx-border-width: 2px;
    -fx-border-color: green;
    -fx-pref-height: 70px;
}

#button{
    -fx-pref-height: 20px;
}

#colorpicker-button{
    -fx-pref-height: 40px;
    -fx-pref-width: 100px;
    -fx-color-label-visible: false;
}

#slider{
    -fx-tick-labels-visible: 0;
    -fx-show-tick-labels: true;
    -fx-unit-increment: 1;
}

